
.pagination
  text-align: center

.search-results
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .strain-card
    width: 30vw
    height: auto

    .card-action
      text-align: center

    span
      color: black
      background-color: rgba(235,248,225, 0.8)
      font-weight: 400
      border-radius: 3px
      padding: 3px
      margin: 10px
      font-size: 26px
